html,
body
  margin: 0

header,
footer
  padding: 10px
  line-height: 20px
  position: absolute
  display: block
  width: 100%

header
  border-bottom: 1px solid blue
  top: 0

footer
  border-top: 1px solid blue
  bottom: 0

.certificateList
  margin: 40px 10px
